In [17]:
import sqlite3
from dotenv import load_dotenv
import google.generativeai as genai
import os

In [6]:
# Connect to SQLite database (or create it if it doesn't exist)
conn = sqlite3.connect('employee.db')
cur = conn.cursor()

In [9]:
# Create employee table with 10 columns
cur.execute('''
    CREATE TABLE IF NOT EXISTS employee (
        ID INTEGER PRIMARY KEY AUTOINCREMENT,
        Name TEXT NOT NULL,
        Designation TEXT NOT NULL,
        Location TEXT NOT NULL,
        Salary REAL NOT NULL,
        Age INTEGER NOT NULL,
        Department TEXT NOT NULL,
        Date_of_Joining TEXT NOT NULL,
        Experience INTEGER NOT NULL,
        Email TEXT NOT NULL
    );
''')

In [10]:
# Data to insert 20 more rows into the employee table
employees = [
    ("Emily Brown", "HR Manager", "Miami", 60000, 32, "HR", "2017-03-14", 8, "emily.brown@example.com"),
    ("Chris Evans", "UX Designer", "San Francisco", 70000, 29, "Design", "2019-10-22", 4, "chris.evans@example.com"),
    ("Sophia Green", "DevOps Engineer", "Dallas", 80000, 31, "IT", "2021-07-12", 3, "sophia.green@example.com"),
    ("Liam Wright", "Data Analyst", "Austin", 65000, 26, "Data", "2020-05-09", 2, "liam.wright@example.com"),
    ("Olivia King", "Product Manager", "Seattle", 85000, 33, "Product", "2018-12-01", 6, "olivia.king@example.com"),
    ("Noah Davis", "Business Analyst", "Denver", 72000, 27, "Business", "2019-08-18", 3, "noah.davis@example.com"),
    ("Ava Clark", "Software Engineer", "New York", 78000, 30, "IT", "2021-02-28", 5, "ava.clark@example.com"),
    ("James Lewis", "System Administrator", "Boston", 71000, 35, "IT", "2017-09-25", 8, "james.lewis@example.com"),
    ("Mia Walker", "Marketing Specialist", "Los Angeles", 67000, 28, "Marketing", "2020-01-16", 4, "mia.walker@example.com"),
    ("Lucas Harris", "Network Engineer", "San Diego", 75000, 32, "IT", "2018-06-30", 5, "lucas.harris@example.com"),
    ("Isabella Lee", "Finance Manager", "Chicago", 92000, 38, "Finance", "2016-11-14", 10, "isabella.lee@example.com"),
    ("William Scott", "Quality Assurance", "New York", 66000, 29, "QA", "2019-03-20", 4, "william.scott@example.com"),
    ("Ella Mitchell", "Operations Manager", "Dallas", 87000, 34, "Operations", "2017-07-23", 7, "ella.mitchell@example.com"),
    ("Mason Perez", "Data Engineer", "Chicago", 82000, 30, "Data", "2021-04-11", 4, "mason.perez@example.com"),
    ("Sophia Wilson", "Customer Support", "Phoenix", 58000, 25, "Support", "2020-08-19", 2, "sophia.wilson@example.com"),
    ("Ethan Hall", "Sales Manager", "Houston", 94000, 36, "Sales", "2015-12-17", 10, "ethan.hall@example.com"),
    ("Amelia Allen", "Frontend Developer", "San Francisco", 76000, 28, "IT", "2020-06-05", 5, "amelia.allen@example.com"),
    ("Benjamin Young", "Content Writer", "Miami", 62000, 27, "Marketing", "2019-11-29", 3, "benjamin.young@example.com"),
    ("Charlotte Martinez", "Graphic Designer", "Los Angeles", 68000, 31, "Design", "2021-01-10", 4, "charlotte.martinez@example.com"),
    ("Alexander Hill", "Security Analyst", "New York", 83000, 34, "IT", "2018-03-27", 7, "alexander.hill@example.com")
]

In [11]:
# Insert the additional 20 employee rows into the table
cur.executemany('''
    INSERT INTO employee (Name, Designation, Location, Salary, Age, Department, Date_of_Joining, Experience, Email)
    VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
''', employees)

In [12]:
# Commit the data insertion
conn.commit()

In [13]:
# Fetch and display the inserted rows to verify
cur.execute('SELECT * FROM employee')
rows = cur.fetchall()

In [14]:
# Display the inserted rows
for row in rows:
    print(row)

(1, 'Emily Brown', 'HR Manager', 'Miami', 60000.0, 32, 'HR', '2017-03-14', 8, 'emily.brown@example.com')
(2, 'Chris Evans', 'UX Designer', 'San Francisco', 70000.0, 29, 'Design', '2019-10-22', 4, 'chris.evans@example.com')
(3, 'Sophia Green', 'DevOps Engineer', 'Dallas', 80000.0, 31, 'IT', '2021-07-12', 3, 'sophia.green@example.com')
(4, 'Liam Wright', 'Data Analyst', 'Austin', 65000.0, 26, 'Data', '2020-05-09', 2, 'liam.wright@example.com')
(5, 'Olivia King', 'Product Manager', 'Seattle', 85000.0, 33, 'Product', '2018-12-01', 6, 'olivia.king@example.com')
(6, 'Noah Davis', 'Business Analyst', 'Denver', 72000.0, 27, 'Business', '2019-08-18', 3, 'noah.davis@example.com')
(7, 'Ava Clark', 'Software Engineer', 'New York', 78000.0, 30, 'IT', '2021-02-28', 5, 'ava.clark@example.com')
(8, 'James Lewis', 'System Administrator', 'Boston', 71000.0, 35, 'IT', '2017-09-25', 8, 'james.lewis@example.com')
(9, 'Mia Walker', 'Marketing Specialist', 'Los Angeles', 67000.0, 28, 'Marketing', '2020-01-16', 4, 'mia.walker@example.com')
(10, 'Lucas Harris', 'Network Engineer', 'San Diego', 75000.0, 32, 'IT', '2018-06-30', 5, 'lucas.harris@example.com')
(11, 'Isabella Lee', 'Finance Manager', 'Chicago', 92000.0, 38, 'Finance', '2016-11-14', 10, 'isabella.lee@example.com')
(12, 'William Scott', 'Quality Assurance', 'New York', 66000.0, 29, 'QA', '2019-03-20', 4, 'william.scott@example.com')
(13, 'Ella Mitchell', 'Operations Manager', 'Dallas', 87000.0, 34, 'Operations', '2017-07-23', 7, 'ella.mitchell@example.com')
(14, 'Mason Perez', 'Data Engineer', 'Chicago', 82000.0, 30, 'Data', '2021-04-11', 4, 'mason.perez@example.com')
(15, 'Sophia Wilson', 'Customer Support', 'Phoenix', 58000.0, 25, 'Support', '2020-08-19', 2, 'sophia.wilson@example.com')
(16, 'Ethan Hall', 'Sales Manager', 'Houston', 94000.0, 36, 'Sales', '2015-12-17', 10, 'ethan.hall@example.com')
(17, 'Amelia Allen', 'Frontend Developer', 'San Francisco', 76000.0, 28, 'IT', '2020-06-05', 5, 'amelia.allen@example.com')
(18, 'Benjamin Young', 'Content Writer', 'Miami', 62000.0, 27, 'Marketing', '2019-11-29', 3, 'benjamin.young@example.com')
(19, 'Charlotte Martinez', 'Graphic Designer', 'Los Angeles', 68000.0, 31, 'Design', '2021-01-10', 4, 'charlotte.martinez@example.com')
(20, 'Alexander Hill', 'Security Analyst', 'New York', 83000.0, 34, 'IT', '2018-03-27', 7, 'alexander.hill@example.com')

In [15]:
# Close the connection
conn.close()

In [18]:
load_dotenv()
genai.configure(api_key=os.environ["GOOGLE_API_KEY"])

In [20]:
## Connectt to SQlite
connection=sqlite3.connect("employee.db")

In [21]:
## Function To Load Google Gemini Model and provide queries as response
def get_gemini_response(question,prompt):
    model=genai.GenerativeModel('gemini-pro')
    response=model.generate_content([prompt[0],question])
    return response.text

In [22]:
## Fucntion To retrieve query from the database
def read_sql_query(sql,db):
    connection=sqlite3.connect(db)
    cursor=connection.cursor()
    cursor.execute(sql)
    rows=cursor.fetchall()
    connection.commit()
    connection.close()
    for row in rows:
        print(row)
    return rows

In [75]:
## Define Prompt
prompt=[
    """
    You are an expert in converting English questions to SQL query!
    The SQL database has the name employee and has the following columns -         
        ID INTEGER PRIMARY KEY AUTOINCREMENT,
        Name TEXT NOT NULL,
        Designation TEXT NOT NULL,
        Location TEXT NOT NULL,
        Salary REAL NOT NULL,
        Age INTEGER NOT NULL,
        Department TEXT NOT NULL,
        Date_of_Joining TEXT NOT NULL,
        Experience INTEGER NOT NULL,
        Email TEXT NOT NULL
    SECTION \n\nFor example,\nExample 1 - Count the total number of employees?, 
    the SQL command will be like this SELECT COUNT(*) FROM employee;
    \nExample 2 - Get the sum of all employee salaries?, 
    the SQL command will be something like this SELECT SUM(Salary) FROM employee; 
    \nExample 3 - Get employees located in 'New York'?, 
    the SQL command will be something like this SELECT Name FROM employee WHERE Location = 'New York'; 
    \nExample 4 - Find employees with more than 5 years of experience?, 
    the SQL command will be something like this SELECT Name FROM employee WHERE Experience > 5;
    \nExample 5 - Find the highest-paid employee in each department?, 
    the SQL command will be something like this SELECT Department, Name, MAX(Salary) as HighestSalary FROM employee GROUP BY Department, Name;
    \nExample 6 - List all employees with more than 5 years of experience and a salary greater than 75000?, 
    the SQL command will be something like this SELECT Name, Salary, Experience FROM employee WHERE Experience > 5 AND Salary > 75000;
    \nExample 7 - Find employees who joined in the last 2 years?, 
    the SQL command will be something like this SELECT Name, Designation, Join_Date FROM employee WHERE Join_Date >= DATE('now', '-2 years');
    also the sql code should not have ``` in beginning or end and sql word in output

    """

]

In [ ]:
# Get the sum of all employee salaries?
# SELECT SUM(Salary) FROM employee;

# Count the total number of employees
# SELECT COUNT(*) FROM employee;

# Get the average salary of employees in the 'IT' department
# SELECT AVG(Salary) FROM employee WHERE Department = 'IT';

# Retrieve the second-highest salary
# SELECT MAX(Salary) FROM employee WHERE Salary < (SELECT MAX(Salary) FROM employee);

# Get employees located in 'New York'
# SELECT Name, Designation, Location FROM employee WHERE Location = 'New York';

# Find employees with more than 5 years of experience
# SELECT Name, Designation, Experience FROM employee WHERE Experience > 5;

# List employees earning more than the average salary
# SELECT Name, Salary FROM employee WHERE Salary > (SELECT AVG(Salary) FROM employee);

# Get the total number of employees in each department
# SELECT Department, COUNT(*) as EmployeeCount FROM employee GROUP BY Department;

# Find the highest-paid employee in each department
# SELECT Department, Name, MAX(Salary) as HighestSalary FROM employee GROUP BY Department, Name;

# List all employees with more than 5 years of experience and a salary greater than 75000
# SELECT Name, Designation, Salary, Experience  FROM employee WHERE Experience > 5 AND Salary > 75000;

# Find employees who joined in the last 4 years
# SELECT Name, Designation, Date_of_Joining FROM employee WHERE Date_of_Joining >= DATE('now', '-4 years');

# Find employees who are not from the 'IT' and 'Finance' departments
# SELECT Name, Department FROM employee WHERE Department NOT IN ('IT', 'Finance');

# List the top 5 highest-paid employees
# SELECT Name, Salary FROM employee ORDER BY Salary DESC LIMIT 5;

In [94]:
question = input("question: ")

question: Retrieve the second-highest salary

In [95]:
question

'Retrieve the second-highest salary'

In [104]:
query=get_gemini_response(question,prompt)

In [105]:
query

'SELECT MAX(Salary) FROM employee\nWHERE Salary < (SELECT MAX(Salary) FROM employee)'

In [106]:
response=read_sql_query(query, "employee.db")

(92000.0,)

In [85]:
response

[]